@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

main h1 {

}

main p {
font-family: "Montserrat";
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #e1e1f7;
    overflow: hidden;
    z-index: -1;
}

.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #8b928a;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 14s ease-in forwards infinite;
}

undefined
.background li:nth-child(0) {
    animation-delay: 0s;
    left: 84vw;
    top: 3vh;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 17vw;
    top: 34vh;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 71vw;
    top: 87vh;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 32vw;
    top: 62vh;
    border-color: #e1e2e4;
}